<table class="mdl-data-table mdl-cell--12-col mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">学号</th>
            <th>姓名</th>
            <th>班级</th>
            <th>专业</th>
            <th>学院</th>
            <th>毕业设计题目</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="i in students">
            <td class="mdl-data-table__cell--non-numeric">[[i.student_id]]</td>
            <td>[[i.student_name]]</td>
            <td>[[i._class]]</td>
            <td>[[i.major]]</td>
            <td>[[i.school]]</td>
            <td>[[i.gra_des]]</td>
        </tr>
    </tbody>
</table>