<div id='new-gradesign-file-app' class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">学生信息</h2>
        </div>
        <!-- <mu-text-field label="毕设题目" label-float class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing"></mu-text-field> -->
        <!-- <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <p style="color:grey">学生</p>
            <mu-text-field hint-text="学生" disabled full-width></mu-text-field>

        </div> -->
        <div class="mdl-grid demo-content">
            <mu-text-field label-float label="姓名" full-width></mu-text-field>
            <mu-text-field label-float label="学号" full-width></mu-text-field>
            <mu-text-field label-float label="班级" full-width></mu-text-field>
            <mu-text-field label-float label="专业" full-width></mu-text-field>
            <mu-text-field label-float label="学院" full-width></mu-text-field>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a @click="new_file(3)" class="mdl-button mdl-js-button mdl-js-ripple-effect">点击创建</a>
        </div>
    </div>
</div>