<div class="demo-cards mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">学生信息</h2>
        </div>
        <mu-linear-progress v-if="show_progress"></mu-linear-progress>
        <div class="mdl-grid demo-content">
            <mu-text-field v-model='student_name' label-float label="姓名" full-width></mu-text-field>
            <mu-text-field v-model='student_id' label-float label="学号" full-width></mu-text-field>
            <mu-text-field v-model='student_class' label-float label="班级" full-width></mu-text-field>
            <mu-text-field v-model='major' label-float label="专业" full-width></mu-text-field>
            <mu-text-field v-model='school' label-float label="学院" full-width></mu-text-field>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a @click="method.submitStudentInfo(app)" class="mdl-button mdl-js-button mdl-js-ripple-effect">点击创建</a>
        </div>
    </div>
</div>